@page
@model RazorPages.Pages.Customer.IndexModel
@{

}

<!DOCTYPE html>

<html>

<head>

</head>
<body>

    <h1>Customer Pages</h1>
    <h2>@DateTime.Now</h2>
    <h1>@Model.Message</h1>
</body>
</html>

